$colors: (
    'primary': #6777ef,
    'font': #1a1a1a,
    'white': #fff,
    'icon': rgba(0, 0, 0, 0.5),
    'dark': #000000,
    'muted': #6c757d,
    'lightblue' : rgba(103,119,239,.1),
    'footer': #3c4146,
    'border' : #e6e6e6,
    'border-input': #ced4da
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
