.button {
    padding: 13px;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid color(primary);
    background-color: color(primary);
    color: color('white');
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    &:active{
        box-shadow: none;
        background-color: darken(color(primary),15%);
    }
}