.container{
    position: relative;
    padding-right: 180px;
    padding-left: 180px;

    @media(max-width:size(xl)) {
        &{
            padding-right: 100px;
            padding-left: 100px;
        }
    }

    @media (max-width: size(lg)) {
        &{
            padding-right: 50px;
            padding-left: 50px;
        }
    }

    @media (max-width: size(md)) {
        &{
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    
}



