.gallery{
    column-count: 3;
    column-gap: 1em;
    @media(max-width: size(lg)) {
        column-count: 2;
    }
    img {
        width: 100%;
        margin-bottom: 1em;
        display: inline-block;
    }
}