@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
html {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #1a1a1a;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

.text-md {
  font-size: 16px;
}

.jumbotron-section {
  position: relative;
}

.container {
  padding-right: 100px;
  padding-left: 100px;
  position: relative;
}

@media (max-width: 992px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.navbar {
  width: 100%;
  height: 70px;
  position: relative;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .navbar .container {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar .navbar-title {
  height: 70px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background-color: #6777ef;
}

@media (max-width: 992px) {
  .navbar .navbar-title {
    width: 175px;
  }
}

.navbar .navbar-navigation {
  height: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  background-color: white;
}

@media (max-width: 992px) {
  .navbar .navbar-navigation {
    display: none;
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.navbar .navbar-navigation a {
  text-decoration: none;
  color: #1a1a1a;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 50px;
}

.navbar .navbar-navigation a:hover {
  color: #6777ef;
}

@media (max-width: 992px) {
  .navbar .navbar-navigation a {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.navbar .menu {
  height: auto;
  position: absolute;
  right: 0px;
  width: auto;
  display: none;
}

@media (max-width: 992px) {
  .navbar .menu {
    display: block;
    top: 25px;
    right: 50px;
  }
  .navbar .menu a {
    color: rgba(0, 0, 0, 0.5);
  }
  .navbar .menu a i {
    padding-right: 10px;
    font-size: 20px;
  }
  .navbar .menu a span {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .navbar .menu {
    right: 25px;
  }
}

.navbar .menu-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  width: 100%;
  height: 90vh;
  position: relative;
}

.banner .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner .overlay .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.banner .overlay .container h1 {
  font-size: 50px;
  color: white;
  font-weight: 300;
}

@media (max-width: 992px) {
  .banner .overlay .container h1 {
    font-size: 35px;
    margin-top: -25px;
    text-align: center;
  }
}

.banner .overlay .container p {
  font-size: 16px;
  opacity: 0.7;
  line-height: 29px;
  width: 700px;
  margin-top: -10px;
  color: #fff;
}

@media (max-width: 992px) {
  .banner .overlay .container p {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */